@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap");

/* global variables */
:root {
	--primary-color: #e9f0fd;
	--secondary-color: #0c2c7e;
	--accent-color: #a3cb38;
	--accent-color-light: #d4edb5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
}

aside {
	position: relative;
	bottom: 50px;
}

.header-title {
	font-family: "libre caslon text", system-ui;
	font-weight: 900;
	font-size: 0.9rem;
	color: var(--secondary-color);
	text-align: center;
	padding: 2.5rem 0;
}

.filter-section {
	display: flex;
	flex-direction: row;
}

.arrow-menu {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 18px solid var(--secondary-color);
	transform: rotate(90deg);
	cursor: pointer;
	position: relative;
	left: 9em;
	transition: transform 0.3s ease-in-out;
}

.arrow-menu.open {
	transform: rotate(-90deg);
}

.header-menu {
	display: flex;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
	background-color: var(--primary-color);
}

.icon-header {
	background-color: var(--accent-color);
	padding: 0.6em 1.7em;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	transition: background-color 0.3s ease-in-out;
}

.icon-header.open {
	background-color: var(--accent-color);
	padding: 0.6em 7em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 10.5em;
	transition: background-color 0.3s ease-in-out;
}

.filter-menu.open {
	background-color: var(--accent-color-light);
	color: var(--secondary-color);
	font-family: "oswald", system-ui;
	letter-spacing: 1px;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom-right-radius: 3.5em;
}

.menu.open .title {
	font-weight: 600;
}

.apply-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}

.apply-btn button {
	background-color: var(--accent-color);
	color: var(--secondary-color);
	font-family: "oswald", system-ui;
	font-size: 0.9rem;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0.5em 2em;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.apply-btn button:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.menu.open {
	padding: 0.5em 2em;
}

.menu.open img {
	width: 15px;
}

.tag-filter-list {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
}

.category-filter-list {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
}

.tag-title {
	margin-top: 0.8em;
}

.category-title {
	margin-top: 0.8em;
}

/* change the size of the li checkbocx*/
input[type="checkbox"] {
	transform: scale(1.4);
	transform-origin: center;
	transition: transform 0.3s ease-in-out;
}

input[type="checkbox"]:checked {
	transform: scale(1.4);
	transform-origin: center;
	transition: transform 0.3s ease-in-out;
}

li {
	margin: 0.25em 0;
}

li label {
	margin-left: 0.5em;
}

.tag-title span {
	margin-left: 0.5em;
}

.category-title span {
	margin-left: 0.5em;
}

input[type="checkbox"]:checked + label {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.catalog-filter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 7em;
	margin-left: 11em;
}

.input-search {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.input-search {
	position: relative;
	width: 100%;
	max-width: 28rem;
}

.input-search img {
	position: absolute;
	left: 0.9em;
	top: 50%;
	transform: translateY(-50%);
	width: 1.5rem;
	height: auto;
}

.input-search input {
	width: 100%;
	padding: 0.9em;
	padding-left: 2.8em;
	border: none;
	border-radius: 20px;
	color: var(--secondary-color);
	font-family: "oswald", system-ui;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 1px;
	background-color: var(--primary-color);
	border: 2px solid var(--secondary-color);
	transition: all 0.3s ease-in-out;
}

.input-search input:focus {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.input-search input::placeholder {
	font-family: "oswald", system-ui;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 1px;
}
.sort-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sort-btn button {
	background-color: var(--accent-color);
	color: var(--secondary-color);
	font-family: "oswald", system-ui;
	font-size: 0.9rem;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0.5em 2em;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
